@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.orderContainer::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.header-banner {
    background-image: url('./assets/bannerbackground.png');
    height: 600px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .banner {
    background-image: url('./assets/bannerbackground.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .poppins {
    font-family: 'Poppins', sans-serif;
  }
  .bg-primary {
    background: #f91944;
  }
  .bg-primary-dark {
    background: #ce193c;
  }
  .text-primary {
    color: #f91944;
  }
  .border-primary {
    border: 1px solid #f91944;
  }

  @layer components {
    .menu_tab {
      @apply text-gray-800 cursor-pointer select-none;
    }
    .active_menu_tab {
      @apply rounded-full px-4 py-2 text-white select-none;
    }
  }
  
  

/* Glassmorphism card effect */
.glass {
    backdrop-filter: blur(14px) saturate(180%);
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
    .glass-dark {
        backdrop-filter: blur(14px) saturate(180%);
        -webkit-backdrop-filter: blur(14px) saturate(180%);
        background-color: rgba(0, 0, 0, 0.57);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.3);
    }  


    /* Custom Swiper Navigation Arrows */
.swiper-button-next,
.swiper-button-prev {
    color: #000; /* Arrow color */
    background-color: rgba(255, 255, 255, 0.8); /* Background color */
    border-radius: 50%; /* Circular shape */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow */
    transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 1); /* Solid background on hover */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px; /* Arrow size */
}

@keyframes realistic-blink {
  0%, 100% { opacity: 1; }  /* Fully visible */
  50% { opacity: 0.4; }     /* Slightly faded instead of disappearing completely */
}

.animate-realistic-blink {
  animation: realistic-blink 1.5s infinite ease-in-out;
}



